<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>Maze</name>
  <sdf version="1.5">maze.sdf</sdf>

  <author>
    <name>Christian Wendt</name>
    <email>christian.wendt@eduard-robotik.com</email>
  </author>

  <description>
    A maze for exploration tasks.
  </description>
</model>
