<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>Object Detection Sensor</name>
  <sdf version="1.5">eduard-object-detection-sensor.sdf</sdf>

  <author>
    <name>Christian Wendt</name>
    <email>christian.wendt@eduard-robotik.com</email>
  </author>

  <description>
    Its a logical sensor for object detection. Its a very simplified sensor for first basic SIL tests where objects
    needs to be detected.
  </description>
</model>
