<?xml version='1.0'?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="$(arg robot_name)">
  <!-- Includes -->
  <xacro:include filename="$(find edu_simulation)/model/eduard/wheel.urdf"/>

  <!-- Arguments -->
  <xacro:arg name="robot_name" default="eduard"/>
  <xacro:arg name="wheel_type" default="mecanum"/>

  <!-- chassis -->
  <link name="base_link">
    <pose>0 0 0 0 0 0</pose>
    <inertial>
      <pose>0 0 0 0 0 0</pose>
      <mass value="5.0"/>
      <inertia ixx="0.00276" iyy="0.00882" izz="0.01119" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual name="visual">
      <pose>0 0 0 0 0 1.570796327</pose>
      <geometry>
        <mesh filename="model://eduard/mesh/eduard-blue-chassis.dae"/>
      </geometry>
    </visual>
    <collision name="collision_bottom">
      <pose>0 0 0.01 0 0 0</pose>
      <geometry>
        <box size="0.38 0.22 0.02"/>
      </geometry>
    </collision>
    <collision name="collision_top">
      <pose>0 0 0.1 0 0 0</pose>
      <geometry>
        <box size="0.38 0.22 0.02"/>
      </geometry>
    </collision>        
  </link>

  <!-- Wheels -->
  <!-- Rear Right -->
  <xacro:wheel name="motor_a" type="$(arg wheel_type)" parent_link="base_link">
    <pose>-0.125 -0.18 0.02 -1.570796327 0 0</pose>
  </xacro:wheel>
  <!-- Front Right -->
  <xacro:wheel name="motor_b" type="$(arg wheel_type)" parent_link="base_link">
    <pose>0.125 -0.18 0.02 -1.570796327 0 0</pose>
  </xacro:wheel>
  <!-- Rear Left -->
  <xacro:wheel name="motor_c" type="$(arg wheel_type)" parent_link="base_link">
    <pose>-0.125 0.18 0.02 1.570796327 0 0</pose>
  </xacro:wheel>  
  <!-- Front Left -->
  <xacro:wheel name="motor_d" type="$(arg wheel_type)" parent_link="base_link">
    <pose>0.125 0.18 0.02 1.570796327 0 0</pose>
  </xacro:wheel> 

  
</robot>