<?xml version='1.0'?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="$(arg robot_name)">
  <xacro:include filename="$(find edu_simulation)/model/eduard/inertial.urdf"/>

  <xacro:macro name="lidar" params="name parent_link topic_name prefix *origin">
    <!-- Lidar Cassis -->
    <link name="${name}_link">
      <!-- Visuals -->
      <visual name="bottom">
        <geometry>
          <box size="0.055 0.055 0.04"/>
        </geometry>
        <material name="nice_color">
          <color rgba="0.33 0.40 0.46 1.0"/>
        </material>
      </visual>
      <visual name="top">
        <origin xyz="0 0 0.04" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.025" length="0.04"/>
        </geometry>
      </visual>
  
      <!-- Collisions -->
      <collision name="bottom">
        <geometry>
          <box size="0.055 0.055 0.04"/>
        </geometry>
      </collision>
      <collision name="top">
        <origin xyz="0 0 0.04" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.025" length="0.04"/>
        </geometry>
      </collision>

      <!-- Inertial -->
      <xacro:inertial_cylinder mass="0.3" radius="0.025" length="0.08"/>
    </link>

    <joint name="${name}_joint" type="continuous">
      <parent link="${parent_link}"/>
      <child link="${name}_link"/>
      <axis xyz="0 0 1"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <!-- Sensor -->
    <gazebo reference="${name}_link">
      <sensor name="lidar" type="gpu_lidar">
        <update_rate>10</update_rate>
        <topic>${prefix}/scan</topic>
        <gz_frame_id>${prefix}/laser</gz_frame_id>
        <lidar>
          <scan>
            <horizontal>
              <samples>360</samples>
              <resolution>1.0</resolution>
              <min_angle>-2.35619449</min_angle>
              <max_angle>2.35619449</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.2</min>
            <max>12.0</max>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.04</stddev>
          </noise>   
          <frame_id>${prefix}/laser</frame_id>       
        </lidar>
        <always_on>true</always_on>
        <visualize>true</visualize>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
