<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>EduArt Letter A</name>
  <sdf version="1.5">eduart_letter_a.sdf</sdf>

  <author>
    <name>Christian Wendt</name>
    <email>christian.wendt@eduard-robotik.com</email>
  </author>

  <description>
    Just the letter A from the EduArt logo.
  </description>
</model>
