<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>Eduard Mecanum</name>
  <sdf version="1.5">eduard.sdf</sdf>

  <author>
    <name>Christian Wendt</name>
    <email>christian.wendt@eduard-robotik.com</email>
  </author>

  <description>
    Eduard basic Robot model with mecanum wheels and omi-directional movement.
  </description>
</model>
