<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>Floor 10m x 10m</name>
  <sdf version="1.5">floor.sdf</sdf>

  <author>
    <name>Christian Wendt</name>
    <email>christian.wendt@eduard-robotik.com</email>
  </author>

  <description>
    A floor with limited size of 10m x 10m.
  </description>
</model>
